<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UNK Dining Hall Crowd Tracker</title>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  </head>
  <body>
    <h1>UNK Dining Hall Crowd Tracker</h1>
    <button id="check-status">How Busy is Dining Hall?</button>
    <p>Status: <span id="status">---</span></p>
    <button id="check-peak-hour">Peak Hour For Today</button>
    <p>Peak Hour: <span id="peak-hour">---</span></p>
    <!-- <p>Busiest Hour: <span id="busiest-hour">---</span></p> -->
    <!-- <p>Quieter Hours: <span id="quiet-hours">---</span></p> -->
  </body>
</html>
